rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /planograms/{storeId} {
      allow read: if true;
      allow write: if request.resource.data.updateDate is string;

      match /pages/{pageId} {
        allow read: if true;
        allow create, update: if request.resource.data.src is string
                              && request.resource.data.label is string
                              && request.resource.data.order is number;
        allow delete: if true;
      }
    }
  }
}
